/*清除样式*/

*,
ul,
li,
a,
image,
span,
p {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	list-style: none;
}

body,
html {
	overflow-x: hidden;
}

h1,
h3 {
	font-weight: normal;
}

a {
	color: #42bd56;
	text-decoration: none;
}


/*顶部导航*/

#title {
	border-bottom: 0.04rem solid #f2f2f2;
	overflow: hidden;
}

#douban {
	float: left;
	display: block;
	text-decoration: none;
	font-size: 0.46rem;
	line-height: 1.84rem;
	color: #03b334;
	width: 2.56rem;
	height: 1.84rem;
	padding-left: 0.72rem;
}

#titleRt {
	height: 1.84rem;
	width: 9.6rem;
	float: right;
	overflow: hidden;
	position: relative;
}

#ulTit {
	float: left;
	overflow: hidden;
	height: 1.84rem;
	width: 7.92rem;
}

#ulTit li {
	float: left;
	line-height: 1.84rem;
	font-size: 0.64rem;
	padding-left: 0.6rem;
}

#ulTit li:nth-child(1) {
	color: #5c8dec;
}

#ulTit li:nth-child(2) {
	color: #a57a4d;
}

#ulTit li:nth-child(3) {
	color: #e1aa19;
}

#ulTit li:nth-child(4) {
	color: #2bbae4;
}

#search {
	position: absolute;
	right: 0.4rem;
	top: 0.64rem;
	display: block;
	width: 1rem;
	height: 0.72rem;
	background-image: url(../img/search.png);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*background: url(../img/search.png) no-repeat 0 0.4rem;
     */
}


/*精选栏目*/

#choiceUl {
	overflow: hidden;
	padding: 1.16rem 0.72rem 1.16rem 0.6rem;
	height: 4.08rem;
}

#choiceUl li {
	float: left;
	width: 6.56rem;
	height: 1.76rem;
	background-color: #f6f6f6;
	margin: 0.24rem 0 0 0.24rem;
	line-height: 1.76rem;
	text-align: center;
}

#choiceUl li a {
	color: #414a47;
	font-size: 0.56rem;
}


/*内容部分*/

#content {
	padding: 0 0.72rem 0 0.64rem;
	border-bottom: 0.04rem solid #f2f2f2;
	margin-bottom: 0.96rem;
}

#contentOnebox {
	overflow: hidden;
}

#contentOneleft {
	height: 4.56rem;
	width: 9.28rem;
	float: left;
}

#contentOneleft h3 {
	font-size: 0.64rem;
	line-height: 0.96rem;
	color: #47454a;
}

#contentOneleft p {
	font-size: 0.48rem;
	line-height: 0.72rem;
	color: #a8aba0;
}

#contentOneright {
	width: 3.48rem;
	height: 3.48rem;
	float: right;
	background: url(../img/1.jpg) no-repeat;
}

#contentOnebottom {
	height: 1.28rem;
	width: 100%;
	font-size: 0.4rem;
	overflow: hidden;
}

#contentOnebottom span {
	color: #c8c8c6;
}

#contentOnebottom span:nth-child(1) {
	float: left;
}

#contentOnebottom span:nth-child(2) {
	float: right;
}


/*图片部分*/

.content2 {
	/*width: 100%;*/
}

#content2Oneleft {
	width: 10.2rem;
	height: 6.52rem;
	float: left;
	background-image: url(../img/2.jpg);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#content2Oneright {
	float: right;
}

#content2OneUp {
	width: 3.2rem;
	height: 3.2rem;
	background-image: url(../img/3.jpg);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#content2OneDown {
	width: 3.2rem;
	height: 3.2rem;
	margin-top: 0.16rem;
	background-image: url(../img/4.jpg);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#content2Onebottom h3 {
	font-size: 0.72rem;
	color: #474351;
	height: 1.12rem;
	line-height: 1.12rem;
}

#content2Onebottom p {
	font-size: 0.48rem;
	color: #c3cdd7;
	height: 0.88rem;
	line-height: 0.88rem;
	margin-bottom: 0.4rem;
}


/*电影页面*/

#contentMbox {}

.content {
	width: 100%;
}

.contentMtitle {
	height: 1.8rem;
	overflow: hidden;
	padding: 0 1.12rem;
}

.contentBook .contentBtitle {
	padding: 0;
}

.contentMtitle h3 {
	font-size: 0.64rem;
	color: #05131c;
	height: 1.8rem;
	line-height: 1.8rem;
	float: left;
}

.contentMtitle span {
	font-size: 0.48rem;
	color: #48b562;
	height: 1.8rem;
	line-height: 1.8rem;
	float: right;
}

.contentMovie {
	margin-bottom: 0.28rem;
	/*overflow: hidden;
     */
}

.content2Img {
	width: 100%;
	height: 5.7136rem;
	/*background-position: 0 0;*/
	/*background-size: 100% 100%;*/
	/*background-repeat: no-repeat;*/
}

.content2MC {
	display: block;
	/*width: 3.92rem;
     */
}

.movieName {
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.52rem;
	color: #3c4d5f;
	width: 90%;
	text-align: center;
}

.movieStar {
	overflow: hidden;
	text-align: center;
}

.movieStarbook {
	padding-left: 1.2rem;
}

.movieStar span {
	font-size: 0.4rem;
	color: yellow;
	display: inline-block;
	float: left;
}

.movieStar .moviePoint {
	color: #A8ABA0;
	font-size: 0.48rem;
}

.movieUls {
	font-size: 0;
	white-space: nowrap;
	overflow: hidden;
}

.movieList:first-child {
	margin-left: 0.72rem;
}

.movieList {
	display: inline-block;
	overflow: hidden;
	width: 4rem;
	margin-left: 0.48rem;
}

.movieListMore {}


/*发现好电影部分*/

.contentMovie2 {
	/*padding-left:0.72rem;*/
}

.bestMoveUls {
	font-size: 0.52rem;
	width: 48rem;
	overflow: hidden;
	padding: 0 0.6rem 1rem 1.12rem;
	overflow-x: auto;
}

.bestMoveUls li {
	float: left;
}

.bestMoveUls li a {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	margin: 0.4rem 0.8rem 0 0;
}


/*上排四个标签*/

.bestMoveUls li:nth-child(1) a {
	width: 13.84rem;
	border: 1px solid #11aff9;
	color: #11aff9;
}

.bestMoveUls li:nth-child(2) a {
	width: 8rem;
	border: 1px solid #ff2df3;
	color: #ff2df3;
}

.bestMoveUls li:nth-child(3) a {
	width: 12rem;
	border: 1px solid #41ff2d;
	color: #41ff2d;
}

.bestMoveUls li:nth-child(4) a {
	width: 8rem;
	border: 1px solid #a90d5e;
	color: #a90d5e;
}


/*下排的四个标签*/

.bestMoveUls li:nth-child(5) a {
	width: 14.64rem;
	border: 1px solid #ffab2d;
	color: #ffab2d;
}

.bestMoveUls li:nth-child(6) a {
	width: 8rem;
	border: 1px solid #41ff2d;
	color: #41ff2d;
}

.bestMoveUls li:nth-child(7) a {
	width: 12rem;
	border: 1px solid #11aff9;
	color: #11aff9;
}

.bestMoveUls li:nth-child(8) a {
	width: 8rem;
	border: 1px solid #ffab2d;
	color: #ffab2d;
}


/*电影页面 之 分类浏览*/

.classifyRd {
	font-size: 0.48rem;
	margin-left: 0.72rem;
	border-bottom: 0.04rem solid #eee;
	overflow: hidden;
}

.classifyRd li {
	float: left;
	border-top: 0.04rem solid #eee;
	border-right: 0.04rem solid #eee;
	width: 5.8rem;
	/*6.96rem;
     */
	padding-right: 0.6rem;
}

.classifyRd li:nth-child(even) {
	border-right: none;
	padding-left: 0.72rem;
}

.classifyRd li a {
	display: inline-block;
	height: 1.72rem;
	line-height: 1.72rem;
	color: #3cb565;
}

.classifyRd li span {
	float: right;
	color: #ddd;
	padding-top: 0.4rem;
}

.contentMovieBottom {
	margin: 0 0 0 0.72rem;
}

.content2bookImg {
	width: 3.64rem;
	height: 5.2rem;
	background-image: url(../img/book-1.jpg);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


/*书店部分*/

.contentBook {
	padding: 0 0.72rem;
	overflow: hidden;
}

.contentBoxStore {
	margin-top: 0.6rem;
}

.content2bookA {
	overflow: hidden;
}

.content2bookStore {
	background-image: url(../img/book-2.jpg);
}

.content2MC {
	overflow: hidden;
}

.content2bookStore {
	float: left;
}

.content2Bookx {
	float: right;
	overflow: hidden;
	width: 8.8rem;
	margin-left: 0.8rem;
}

.content2Bookx p:nth-child(1) {
	float: left;
	font-size: 0.72rem;
	color: #414b4d;
}

.content2Bookx span {
	float: right;
	font-size: 0.48rem;
	color: #ed6742;
}

.infoWithoutReviewer {
	margin: 0.4rem 0 0 0.8rem;
	color: #bfa0af;
	font-size: 0.56rem;
	float: right;
	width: 8.8rem;
}


/*特卖下面部分*/

.content2bookImgbottom {
	width: 100%;
	height: 5.2rem;
	background-image: url(../img/book-3.jpg);
	background-position: 0 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


/*发现好图书*/

.contentbookBottom {
	border-bottom: 0.04rem solid #eee;
}


/*电影的更多部分*/

.moveMore {
	padding: 0 0.72rem;
	overflow: hidden;
}


/*电影底部logo*/

.download-app {
	padding: 0 0 0.8rem 0;
	margin-top: 2rem;
	margin-bottom: 1.2rem;
	text-align: center;
	font-size: 0.6rem;
}

.btLogImg {
	width: 1.92rem;
	height: 1.84rem;
	float: left;
	margin-right: 0.48rem;
}

.btmInfo {
	/*margin: 0 auto 15px;*/
	overflow: hidden;
	text-align: left;
	font-size: 0.56rem;
	display: inline-block;
	color: #111;
}

.info-content {
	margin: 0 auto 0.6rem;
	overflow: hidden;
	text-align: left;
	font-size: 0.56rem;
	display: inline-block;
	color: #111;
}

.info-content strong {
	font-size: 0.96rem;
	font-weight: normal;
	line-height: 1.12rem;
}

.info-content div {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	list-style: none;
}

.btmaaaaa {
	display: block;
	color: #42bd56;
	text-decoration: none;
}


/*广播*/

.banner {
	margin-bottom: 0;
	max-width: 100%;
	overflow: hidden;
	text-align: left;
	position: relative;
}

.banner_bg {
	font-size: 0;
	padding-bottom: 21.33333%;
	position: relative;
}

.banner_bg_img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.banner_wp {
	position: absolute;
	left: 0.72rem;
	top: 0;
	bottom: 0;
	right: 0.4rem;
	display: flex;
	align-items: center;
	height: 100%;
}

.promo_title {
	margin: 0;
	float: left;
}

.pTt {
	float: left;
	font-size: 0.56rem;
	font-weight: normal;
	line-height: 0.88rem;
	color: #2CA532;
}

.button_wp {
	white-space: nowrap;
	font-size: 0.48rem;
	padding-left: 0.48rem;
	float: right;
	vertical-align: middle;
}

.download_app {
	color: #fff;
	border: 0.04rem solid #42bd56;
	background: #42bd56;
}

.open_app {
	margin-right: 4%;
	color: #42bd56;
	border: 0.04rem solid #42bd56;
}

.pButton {
	display: inline-block;
	padding: 0 0.16rem;
	border-radius: 0.12rem;
	width: 42%;
	line-height: 2;
	font-size: 0.52rem;
	font-weight: bold;
	width: auto;
	padding: 0 0.56rem;
	position: relative;
}

.banner_in {
	overflow: hidden;
	width: 100%;
}

.status-editor-bar {
	position: relative;
	margin: 0 -18px 0.2rem;
	padding: 0.4rem 1.4rem;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 0.04rem solid #eee;
}

.status-editor-bar .avatar {
	width: 1.6rem;
	height: 1.6rem;
	float: left;
}

.status-editor-bar .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.status-editor-bar .holder {
	color: #aaa;
	padding-left: 0.4rem;
	font-size: 0.6rem;
	line-height: 1.6rem;
	float: left;
}

.status-editor-bar .icon.icon-camera {
	margin-right: 0;
}

.status-editor-bar .icon {
	width: 1.6rem;
	height: 1.6rem;
	padding: 0.32rem;
	margin-right: 0.4rem;
	position: relative;
	float: right;
	box-sizing: border-box;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.comment-list li {
	margin-bottom: 1.2rem;
	padding-left: 1.84rem
}

.comment-list li::before,
.comment-list li::after {
	margin-left: 1.84rem
}

.comment-list li:last-of-type {
	margin-bottom: 0.6rem
}

.comment-list li .desc {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	line-height: normal;
	margin: 0 0 0.44rem;
	color: #494949;
	position: relative;
	align-items: center;
	margin-left: -46px
}

.comment-list li .desc img,
.comment-list li .desc .avatar {
	border-radius: 50%;
	vertical-align: text-top;
	margin-right: 0.4rem;
	width: 1.44rem;
	height: 1.44rem
}

.comment-list li .desc img img,
.comment-list li .desc .avatar img {
	margin: 0
}

.comment-list li .desc .user-info {
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	box-flex: auto;
	-webkit-flex: auto;
	-moz-flex: auto;
	-ms-flex: auto;
	flex: auto
}

.comment-list li .desc .user-info strong {
	font-size: 0.6rem;
	display: inline-block;
	vertical-align: text-top;
	margin-right: 0.24rem
}

.comment-list li .desc .user-info .timestamp {
	margin-top: 0.24rem;
	font-size: 0.48rem;
	color: #aaa
}

.comment-list li cite {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	max-height: 1.76rem;
	border-left: 0.04rem solid #42bd56;
	padding-left: 0.4rem;
	font-size: 0.6rem;
	font-style: normal;
	margin: 0 0 0.4rem 0;
	color: #494949
}

.comment-list li .info {
	padding-left: 0;
	margin-top: 0.52rem;
	margin-right: -0.8rem;
	overflow: auto
}

.comment-list li .content {
	padding-left: 0;
	margin-top: 0.4rem;
	line-height: 0.88rem;
	color: #494949;
	font-size: 0.6rem
}

.comment-list li .content p {
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	color: inherit
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.status-list li {
	position: relative;
	padding-bottom: 0.8rem;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	padding-left: 2rem
}

.status-list li .desc {
	margin-left: -2rem;
}

.status-list li .desc img {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: 0.4rem
}

.status-list li .desc .user-info {
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	box-flex: auto;
	-webkit-flex: auto;
	-moz-flex: auto;
	-ms-flex: auto;
	flex: auto
}

.status-list li .desc .user-info strong {
	font-size: 0.68rem;
	line-height: 1;
	color: #494949
}

.status-list li .desc .user-info strong span {
	color: #aaa;
	font-weight: normal
}

.status-list li .desc .user-info .timestamp {
	font-size: 0.56rem;
	margin-top: 0.24rem;
	line-height: 1
}

.status-list li .content {
	font-size: 0.68rem
}

.status-list li .content>div {
	display: inline
}

.status-list li .parent-status>* {
	display: inline;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	vertical-align: middle
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.feed-card {
	padding: 0.6rem;
	margin: 0.4rem 0 0.8rem;
	border-radius: 0.08rem;
	background: #f9f9f9
}

.feed-card .title {
	font-size: 0.68rem;
	font-weight: 500;
	line-height: 1.4;
	color: #494949;
	margin-bottom: 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.feed-card .title:empty {
	margin-bottom: 0
}

.feed-card .text {
	font-size: 0.48rem;
	line-height: 0.64rem;
	color: #aaa;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical
}

.feed-card.has-cover .detail {
	height: 1.92rem;
	padding-right: 3.6rem;
	position: relative
}

.feed-card.has-cover .detail .cover {
	width: 3rem;
	height: 1.92rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0
}

.feed-card.subject-card {
	position: relative;
	padding-left: 4.2rem;
	min-height: 4.44rem
}

.feed-card.subject-card .cover {
	width: 3rem;
	height: 4.44rem;
	position: absolute;
	top: 0.6rem;
	left: 0.6rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.ic-btn {
	display: inline-block;
	margin-right: 0.8rem;
	font-size: 0.56rem;
	cursor: pointer
}

.ic-btn.left {
	float: left
}

.ic-btn.right {
	float: right
}

.ic-btn::before {
	content: '';
	width: 0.8rem;
	height: 0.8rem;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-bottom: -0.12rem;
}

.ic-btn .text {
	color: #ccc;
	margin-left: 0.12rem;
	position: relative;
	left: 0;
	top: -0.13rem;
}

.ic-btn-comment::before {
	background-image: url(../img/good2.jpg);
}

.ic-btn-more::before {
	background-image: url(../img/good4.jpg);
}

.ic-btn-like::before {
	background-image: url(../img/good1.jpg)
}

.ic-btn-like.active .text {
	color: #42bd56
}

.ic-btn-heart.active .text {
	color: #42bd56
}

.ic-btn-retweet::before {
	background-image: url(../img/good3.jpg)
}

.ic-btn-retweet.active .text {
	color: #42bd56
}

.broadcastBody {
	padding: 0 0.72rem;
}

.list-link {
	display: block;
	padding: 0.6rem 0;
	font-size: 0.64rem;
	line-height: 0.72rem;
	text-align: center;
	cursor: pointer;
	color: #42bd56;
	text-decoration: none;
}


/*小组*/

section:first-child {
	padding-top: 0.56rem;
}

section {
	margin-bottom: 1.2rem;
	display: block;
}

section h2 {
	display: inline-block;
	margin-bottom: 0;
	padding: 0 1rem;
	font-size: 0.72rem;
	color: #111;
	padding-left: 0;
}

.group-list>li {
	position: relative;
}

.group-list>li:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.04rem;
	background: #e8e8e8;
	-webkit-transform: scaleY(0.5);
	content: '';
	position: absolute;
	-webkit-transform-origin: 0 bottom;
}

.group {
	font-size: 0.72rem;
	display: block;
	padding-right: 18rem;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	color: #111;
}

.group .group-meta .group-icon {
	border-radius: 0.12rem;
	width: 1.6rem;
	height: 1.6rem;
	border: 0.04rem solid #f1f1f1;
}

.group .group-meta .group-name {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.group .group-meta .group-member {
	color: #ccc;
	font-size: 0.6rem;
}

.group .group-topic {
	margin-top: 0.4rem;
	font-size: 0.6rem;
	color: #aaa;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.teamContent {
	margin-right: 0;
	margin-left: 0.72rem;
}

.more-group {
	font-size: 0.6rem;
	padding: 0.48rem 0;
	text-align: center;
	position: relative;
	margin-top: -1.2rem;
	padding-right: 0.72rem;
}

.searchSpA {
	display: block;
	height: 0.72rem;
}


/*搜索*/

.searchForm {
	border-bottom: 0.04rem solid #f3f3f3;
	padding: 0.6rem 0.72rem 0.6rem 2.4rem;
}

.close-open {
	position: absolute;
	top: 0.8rem;
	left: 0.72rem;
	color: #42bd56;
	font-size: 0.64rem;
}

.searchForm input {
	box-sizing: border-box;
	-webkit-appearance: none;
	border: 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAABGdBT…B/WBsUDu2HQ0ND33Ou41KOTpsm51SVYEZHR3cN/5Pq/wfEdlFyq1lD2AAAAABJRU5ErkJggg==) no-repeat 50% #f3f3f3;
	background-size: 0.693333rem;
	border-radius: 0.12rem;
	width: 100%;
	height: 1.24rem;
	font-size: 0.56rem;
}

.searchUl {
	padding-top: 1rem;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
}

.searchUl li div {
	float: left;
	position: relative;
	left: 50%;
	top: 0;
}

.searchUl li a {
	display: block;
	text-align: center;
	margin-bottom: 1rem;
	position: relative;
	left: -50%;
	top: 0;
}

.searchUl li strong {
	display: block;
	font-weight: 400;
	font-size: 0.96rem;
	line-height: 1.12rem;
}

.searchUl li span {
	display: block;
	color: #999;
	height: 0.68rem;
	font-size: 0.48rem;
	letter-spacing: 0.04rem;
}

.navBottom {
	width: 100%;
	border-bottom: 1px solid #f3f3f3;
}

.nav-item {
	border-top: 0.04rem solid #f3f3f3;
	padding: 0.52rem 0;
	overflow: hidden;
}

.navBottom .nav-item a {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
}

.navBottom .nav-item a:first-child {
	border-right: 0.04rem solid #e5e5e5;
}

.navBottom a {
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-size: 0.6rem;
	color: #42bd56;
}

.toLogin {
	float: right;
}

.toApp {
	float: right;
}

.nav-item .toReg,
.toPC {
	float: left;
}

.bookUlsTwoMore .item {
	display: block;
	padding: 0.8rem 4%;
	overflow: hidden;
	position: relative;
}


/*图书书店部分  待用*/

.bookUlsTwoMore .item .cover {
	float: left;
	margin-right: 0.6rem;
	width: 4rem;
	min-height: 4rem;
}

.bookUlsTwoMore .item .info {
	overflow: hidden;
}

.bookUlsTwoMore .item h4 {
	font-size: 0.48rem;
	padding-bottom: 0.2rem;
	margin: 0;
}

.bookUlsTwoMore .item h3 {
	font-size: 0.68rem;
	padding: 0 0 0.2rem;
	color: #494949;
}

.bookUlsTwoMore .item h3 .action-tag {
	word-break: keep-all;
	white-space: nowrap;
	position: relative;
	top: -0.11rem;
	background: none;
	color: #f5a623;
	border: 0.04rem solid #f5a623;
}

.action-tag {
	font-size: 0.36rem;
	color: #fff;
	border-radius: 0.12rem;
	border: 0.04rem solid #eee;
	background: #f5a623;
	padding: 0.04rem 0.2rem;
}

.bookUlsTwoMore .item .rank {
	font-size: 0.48rem;
}

.rating-stars {
	display: inline-block;
	vertical-align: middle;
}

.list .item .meta {
	padding-top: 0.2rem;
}

.bookUlsTwoMore .item .meta,
.list .item .star {
	font-size: 0.48rem;
}

.bookUlsTwoMore .item .meta {
	padding-top: 5px;
}

.bookUlsTwoMore .item cite {
	font-size: 0.52rem;
	margin-top: 0.56rem;
	line-height: 0.72rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.bookUlsTwoMore .item cite {
	font-style: normal;
}

.bookUlsTwoMore .item .cover img {
	width: 100%;
}